<div id='habilidades-p'>
    <div class="row justify-content-center text-center">
        <div class="col col-5 bg-white" id='habilidades'>
            <i class="bi-code-slash"></i>
            <h3>Habilidades principales:</h3>
            <ul>
                <li>
                     <i class="bi bi-caret-right-fill"></i>
                     Desarrollo de software con c#
                    (ASP.NET, Windows Forms).
                </li>
                <li>
                    <i class="bi bi-caret-right-fill"></i>
                    Manejo de datos con SQL
                    Server.
                </li>
                <li>
                    <i class="bi bi-caret-right-fill"></i>
                    Creación de informes y
                    análisis de datos con Power
                    BI.
                </li>
                <li>
                    <i class="bi bi-caret-right-fill"></i>
                    Excel intermedio.
                </li>
                <li>
                    <i class="bi bi-caret-right-fill"></i>
                    Resolución de problemas.
                </li>
                <li>
                    <i class="bi bi-caret-right-fill"></i>
                    Disciplina.
                </li>
            </ul>
        </div>
    </div>
</div>