@model IEnumerable<BlogDTO>

@if (Model is not null)
{
    <div class="container">
        @foreach (var blog in Model)
        {
            <div class="row justify-content-center text-center">
                <div class="col col-md-15">
                    <h1>@blog.Titulo</h1>
                    <p>@blog.Texto</p>
                    <img src="@blog.Imagen" class="img-fluid" alt="Imagen blog" id="blog-mid" />
                    <div><a asp-action="Index" asp-controller="Home" class="btn-primary btn-primary">Volver a la página principal</a></div>
                </div>
            </div>
        }
    </div>
}