<div class="text-center">
    <h1 class="display-4">Soy Nicolas Usuga David</h1>
    <h2>Desarrollador especializado en ASP.NET y SQL Server.</h2>
    <img src='~/img/foto.jpg' alt='Foto Nicolas' id='foto' />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Bienvenido a mi portafolio</h1>
        <p>
            Técnico en análisis y desarrollo de software con experiencia en el manejo de datos con SQL Server y
            desarrollo de aplicaciones con C#. Además, soy un apasionado por la tecnología y el aprendizaje.
        </p>
    </div>
</div>
